body {
    font-family: sans-serif;
    padding: 20px;
    background: #f8f9fa;
}

.widget {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

input,
textarea, select {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #4f46e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    font-size: 14px;
}

.success {
    color: blue;
}

.error {
    color: red;
}
.form-control{
    max-width: 400px;
    margin: auto;
}
.d-inline{
    display: inline-block;
}
.d-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}
.d-flex input{
    min-width: 200px;
}
.d-flex select{
min-width: 200px;
}
.rounded-md svg{
    display: none;
}